li.a{
  float:left;
  font-family: avenir;
  letter-spacing: 3px;
}

li a{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  margin: 10px;
}

ul.a{
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6{
  font-family: avenir;
  letter-spacing: 7px;
}

h1{
  font-weight: normal;
  position: absolute;
  margin-top: 5.5px;
  left: 40.5%;
  font-size: 40px;
}

.facebook{
  margin-top: 7px;
  padding: 14px 10px;
  position: absolute;
  right: 6%;
}

.linkedin{
  margin-top: 7px;
  padding: 14px 10px;
  position: absolute;
  right: 8%;
}

.instagram{
  margin-top: 7px;
  padding: 14px 10px;
  position: absolute;
  right: 3%;
}

main{
  padding-top: 140px;
}

.center{
  margin: auto;
  width: 85%;
}

h2{
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}

ul.b{
  list-style-type: none;
  font-family: avenir;
  padding:14px 10px;
}

.EEC{
  font-size: 32px;
  margin-top: 20px;
  font-weight: bold;
  border-bottom: 1px solid black;
  text-align: left;
  width: 100%;
  padding-top: 15px;
}

.bedrift{
  font-size: 29px;
  font-weight:normal;
  padding-top: 20px;
}

.by{
  font-size: 20px;
  font-weight: lighter;
  color: grey;
  position: absolute;
  right: 9%;
  font-family: avenir;
}

.dato{
  font-size: 24px;
  font-weight:normal;
  position: absolute;
  padding-top: 5px;
}

h3{
font-size: 15px;
}



.INSTAGRAM{
  text-align: left;
  margin-top: 100px;
}

.insta-name{
  text-align: right;
  margin-top: -25px;
}

.images{
  float: left;
}

.insta-img{
  width: 250px;
  height: 250px;
  padding: 23px;
}


h4{
color: white;
font-size: 40px;
text-align: center;
background-color: black;
margin-top: 380px;
padding-bottom: 400px;
}

h5{
  color: grey;
  font-weight: lighter;
  font-size: 25px;
  background-color: white;
  margin-top: -320px;
  overflow: visible;
  position: absolute;
  left: 32%;
  padding: 25px 50px;
}

h6{
  color: white;
  margin-top: -306.5px;
  font-weight: normal;
  font-size: 30px;
  background-color: black;
  border: 10px;
  border-style: outset;
  border-color: white;
  overflow: visible;
  position: absolute;
  right: 35%
}
